<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>567003076298-qrs9odl7m33f06t94lopl180cbft8cmj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.567003076298-qrs9odl7m33f06t94lopl180cbft8cmj</string>
	<key>API_KEY</key>
	<string>AIzaSyBmT3vVzDNcqvaNmgLGmMGKQZ-OYmzLr90</string>
	<key>GCM_SENDER_ID</key>
	<string>567003076298</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dev.happios.SkyMate</string>
	<key>PROJECT_ID</key>
	<string>skymate-93546</string>
	<key>STORAGE_BUCKET</key>
	<string>skymate-93546.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:567003076298:ios:f84fc62b897036624e4633</string>
</dict>
</plist>